---
import IconLink from "./IconLink.astro";
import { SOCIAL_ITEMS } from "../constants";
---

<nav class="navbar">
  <div class="navbar-container">
    <a href="/" class="navbar-brand" title="Home">
      <svg width="20" height="20" style="color: var(--color-sage);">
        <use href="#icon-home" />
      </svg>
    </a>

    <div class="navbar-socials">
      {SOCIAL_ITEMS.map((item) => (
        <IconLink
          href={item.href}
          icon={item.icon}
          label={item.label}
          color={item.color}
          className="navbar-social-link"
          size={20}
          target="_blank"
          rel="noopener noreferrer"
        />
      ))}
    </div>

  </div>
</nav>

